.affen-figure {
  float: left;
}

.frecher-affe {
  width: 200px;
}

/* Absichtlich schlechtes Design: negativer Margin, falsche Farbe, schlechter line-height */
.affen-caption {
  margin: -50px -50px 0 0;
  line-height: 0.6;
  width: 400px;
  font-size: 0.8rem;
  color: #ff00ff;
  /* mix-blend-mode: screen; */
}

/* Schliesst den Float des Bildes ein ohne .card global zu verändern */
.affen-content {
  display: flow-root;
  color: black;
  line-height: 1.5;
  font-size: 1.2rem;
}

.upside-down{
  transform: rotate(180deg);
}